<!DOCTYPE html>
<html>
<head>
    <title>Descargar mp3 YouTube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <h1>Descargar mp3 YouTube</h1>
    <div class="container">
        <input type="text" id="youtube-link" placeholder="Ingresa la URL de YouTube" value="{{ link }}">
        <button id="download-button">Descargar</button>
        <p id="status-message"></p>
    </div>
</body>
</html>
